.row
  .col-6.col-offset-3
    %h1.page-header
      Edit Profile
    .form-group
      %input.form-control{ :type => :text, 'ng-model' => 'update_user.name' }
    .form-group
      %input.form-control{ :type => :email, 'ng-model' => 'update_user.email' }
    .form-group
      %input.form-control{ :type => :password, 'ng-model' => 'update_user.password_digest', :placeholder => 'Password' }
    .form-group
      %button.btn{ :type => :submit, 'ng-click' => 'updateUser(update_user)' }
        Save
