.nav
  .container
    .row
      %a{ 'ng-href' => '#/' }
        Листы
      %span.pull-right{ 'ng-show' => 'current_user' }
        %a{ 'ng-href' => '#/lists/new' }
          Добавить лист
        %a{ 'ng-href' => '#', 'ng-click' => 'signOutUser()' }
          Выйти
      %span.pull-right{ 'ng-show' => '!current_user' }
        %a{ 'ng-href' => '#/users/auth' }
          Войти