.nav
  .container
    %a{ 'ng-href' => '#/' }
      Листы
    %span.pull-right
      %a{ 'ng-href' => '#/users/auth', 'ng-show' => '!current_user' }
        Войти
      %a{ 'ng-href' => '#/users/auth', 'ng-click' => 'signOutUser()', 'ng-show' => 'current_user' }
        Выйти