.nav
  .container
    %a{ 'ng-href' => '#/' }
      Листы
    %span.pull-right{ 'ng-show' => 'current_user' }
      %a{ 'ng-href' => '#/lists/new' }
        Добавить лист
      %a{ 'ng-href' => '#/users/auth' }
        Выйти
    %span.pull-right{ 'ng-show' => '!current_user' }
      %a{ 'ng-href' => '#/users/auth', 'ng-click' => 'signOutUser()' }
        Войти