.row
  .col-6.col-offset-3
    %h1.page-header
      Добавить лист
    .form-group
      %input.form-control{ :type => :text, 'ng-model' => 'list.title', :placeholder => 'Название' }
    .form-group
      .list
        %input.item{ :type => :text, 'ng-repeat' => 'item in list.items_attributes track by $index', 'ng-model' => 'list.items_attributes[$index].title' }
        %a.btn.btn-clear.btn-block{ 'ng-click' => 'increaseListItemsCount()' }
          %i.fa.fa-plus
    .form-group
      %button.btn{ :type => :submit, 'ng-click' => 'processList(list)' }
        Сохранить
