@import 'font-awesome';

$lighter_color: #F2F1EF;
$light_color: #bdbdbd;
$brand_color: #8E44AD;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  font-size: 14px;
  font-family: 'Arial';
  background: #fff;
  color: #111;
}

a {
  text-decoration: none;
  color: #111;
}

ul {
  padding-left: 17px;
}

h1, h2 {
  margin-bottom: 10px;
  font-size: 20px;    
  &.page-header {
    margin-bottom: 20px;
  }
}

loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, .7);
  .fa {
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
    color: $light_color;
  }
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.pull-right {
  float: right;
}

.nav {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  margin-bottom: 40px;
  border-bottom: 1px solid $lighter_color;
  a {
    display: inline-block;
    height: 40px;
    margin: 0 10px;
    font-size: 12px;
    opacity: .7;
    &:hover {
      opacity: 1;
    }
  }
}

.btn {
  display: inline-block;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  background: $brand_color;
  color: #fff;
  border-radius: 3px;
  font-weight: bold;
  border: none;
  vertical-align: top;
  font-size: 14px;
  cursor: pointer;
  &.btn-clear {
    background: $lighter_color;
    color: $light_color;
  }
  &.btn-block {
    display: block;
    text-align: center;
  }
}

.form-group {
  margin-bottom: 20px;
  label {
    display: block;
    margin-bottom: 5px;
  }
}

.form-control {
  padding: 9px;
  border-radius: 3px;
  border: 1px solid $light_color;
  font-size: 14px;
  vertical-align: top;
  width: 100%;
}

.list {
  margin-bottom: 40px;
  .title {
    font-size: 14px;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .info {
    margin-bottom: 10px;
    a, span {
      font-size: 10px;
      color: $light_color;
      margin-right: 10px;
    }
  }
  .item {
    display: block;
    width: 100%;
    border-radius: 3px;
    background: $lighter_color;
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 2px;
    border: none;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .item-wrapper {
    position: relative;
    .destroy {
      position: absolute;
      top: 0;
      right: -43px;
    }
  }
}