.row
  .col-4.col-offset-1
    %h1.page-header
      Sign Up
    .form-group
      %input.form-control{ :type => :email, 'ng-model' => 'sign_up_user.email', :placeholder => 'Email' }
    .form-group
      %input.form-control{ :type => :password, 'ng-model' => 'sign_up_user.password', :placeholder => 'Password' }
    .form-group
      %button.btn{ :type => :submit, 'ng-click' => 'signUpUser(sign_up_user)' }
        Save
  .col-4.col-offset-2
    %h1.page-header
      Sign In
    .form-group
      %input.form-control{ :type => :email, 'ng-model' => 'sign_in_user.email', :placeholder => 'Email' }
    .form-group
      %input.form-control{ :type => :password, 'ng-model' => 'sign_in_user.password', :placeholder => 'Password' }
    .form-group
      %button.btn{ :type => :submit, 'ng-click' => 'signInUser(sign_in_user)' }
        Save
