.form-group
  %input.form-control{ :type => :text, 'ng-model' => 'list.title', :placeholder => 'Title' }
.form-group
  .list
    .item-wrapper{ 'ng-repeat' => 'item in list.items_attributes track by $index', 'ng-hide' => 'item._destroy' }
      %input.item{ :type => :text, 'ng-model' => 'list.items_attributes[$index].title' }
      %a{ 'ng-click' => 'deleteItem($index)' }
        %i.btn.btn-clear.fa.fa-remove.destroy
    %a.btn.btn-clear.btn-block{ 'ng-click' => 'increaseListItemsCount()' }
      %i.fa.fa-plus
.form-group
  %button.btn{ :type => :submit, 'ng-click' => 'processList(list)' }
    Save
  %a.btn.btn-clear{ 'ng-href' => '#/list/{{ list.id }}', 'ng-if' => 'list.id' }
    Back
